apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: dev

  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 28.2.0
    helm:
      values: |
        deployment:
          replicas: 1
        ingressClass:
          enabled: true
          isDefaultClass: true
        service:
          type: LoadBalancer

  destination:
    server: https://kubernetes.default.svc
    namespace: traefik

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
